{
  "presets": ["airbnb"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "add-module-exports",
    "transform-async-to-generator"
  ],
  "env": {
    "development": {
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
